body {
    font-family: Courier New;
    background-color: #c4e2ff;
    margin: 0;
    padding: 20px;
    color: #333;
    text-align: center;
}
/* Titulo Principal*/
h1 {
    text-align: center;
    color: #333;
    font-size: 2em;
    margin-bottom: 15px;
}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    background-color: white;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #96c6fa;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}
