body {
    font-family:  Helvetica;
    background-color: #e4e5fa;
    margin: 0;
    padding: 50px;
    color: #0f0f0f;
    text-align: center;
}
/* Titulo Principal*/
h1 {
    text-align: center;
    color: #040303;
    font-size: 3em;
    margin-bottom: 20px;
    font-family: "Times New Roman";
}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    background-color: white;
}
/*columnas*/
th, td {
    border: 2px solid #ccc;
    border-radius: 12px; /* esquinas redondeadas */
    padding: 10px;
    text-align: center;
}
/*encabezado tabla*/
th {
    background-color: #cb7dff;
    color: #ffffff;
}
/*color casillas*/
tr:nth-child(even) {
    background-color: #ffd1ff;
}
/*color sombreado del mouse*/
tr:hover {
    background-color: #b8afb2;
}
